
<section class="Alterar-perfil">
    <div class="fundo-branco container " style="border-radius: 10px;">
        <div class="row d-flex justify-content-between py-1">
            <div class="box-imagem-perfil rounded-circle overflow-hidden d-flex col-2 " style="width: 100px; height: 100px; padding: 0px;">
                <img class="" src="~/imagens\perfil-teste.jfif" alt="Descrição da Imagem" style="width: 100%; height:100%;">
            </div>
            <div class="d-flex  col-10 justify-content-between align-items-center ">
                <div class="d-flex flex-column  ">
                    <div class="fw-bolder">
                        <h3>Leonardo Salimene Fortes</h3>
                    </div>
                    <div class="fw-bolder">
                        <h5>Cargo: T.I</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex ">
            <div class="fw-bolder d-flex justify-content-between">
                <div class="">
                    <h5>Pontos Distribuir: 100</h5>
                </div>
                <div class="">
                    <h5>Pontos Reconhecidos: 1000</h5>
                </div>
            </div>
        </div>
    </div>
</section>
